//
// _calendars.scss
//
// It reflects calendars styles for entire project
//

/**
 * -------------------------
 * @info Datepicker 
 * -------------------------
*/
.ui-datepicker {
	border: 0; padding: 0px; background: none; @include rounded(0); font-family: $font-family-base; font-size: $font-size-base + 2; font-weight: 400; z-index: 1500 !important;
	
	// Wrapper
	.datepicker-wrapper {margin: 5px 0; padding: 0px; border: none; background: $datepicker-wrapper-bg;}

	// Header
	.ui-datepicker-header {
		@include rounded(0); background: $datepicker-header-bg; border: none; height: 44px; padding: 0;
		a {
			text-align: center; color: $white;
			span {visibility: hidden}

			// Content
			&.ui-datepicker-prev:before {content: "\f104";}
			&.ui-datepicker-next:before {content: "\f105";}
			&:before {font-family: "FontAwesome"; font-size: $font-size-base + 6; line-height: 44px;}
		}
		.ui-datepicker-title {font-weight: 400; text-transform: uppercase; line-height: 44px;}	
		a {
			background: none; border: none; height: 44px; top: 0; margin-top: 0; @include rounded(0); cursor: pointer;

			// Controls
			&.ui-datepicker-prev {left: 0;}
			&.ui-datepicker-next {right: 0;}
		}
	}

	// Calendar
	.ui-datepicker-calendar {
		border-collapse: collapse;

		// Disabled days
		.ui-state-disabled span {color: $datepicker-disabled-day-color;}	

		// Names of the days
		thead th {@extend %text-center; background: $datepicker-days-header-bg; border: none; padding: 8px 5px 5px 5px; font-weight: 400;}

		// Days
		tbody td {
			padding: 0; border: 1px solid $datepicker-border;
			.ui-state-default {font-weight: 400; border: none;}
			span, a {@extend %text-center; padding: 5px;}
			a {
				background: none; color: $main-color; font-weight: 400;
				
				// States
				&:hover {background: $datepicker-day-hover-bg; border-color: $datepicker-day-hover-border; color: $datepicker-day-hover-color;}
				&.ui-state-highlight {
					background: $datepicker-day-highlight-bg; border-color: $datepicker-day-highlight-border; color: $datepicker-day-highlight-color;
					&:hover {border-color: $datepicker-day-hover-highlight-border; color: $datepicker-day-hover-highlight-color;}
				}
				&.ui-state-active {background: $datepicker-day-active-bg; border-color: $datepicker-day-active-border; color: $datepicker-day-active-color;}
			}
		}
	}		
}