//
// _grids.scss
//
// It reflects the styles for the alerts.
//

/**
 * -------------------------
 * @info Box model
 * -------------------------
*/
.show, %show {display: block !important;}
.hide, %hide {display: none !important;}
.shown, %shown {@include opacity(1);}
.hidden, %hidden {@include opacity(0);}
.in-block, %in-block {display: inline-block; zoom: 1; *display: inline;}
.middle, %middle {vertical-align: middle;}
.vmiddle, %vmiddle {visibility: hidden;}
.vbottom, %vbottom {vertical-align: bottom;}

/**
 * -------------------------
 * @info Grid rules
 * -------------------------
*/
.pull-left, %pull-left {float: left;}
.pull-right, %pull-right {float: right;}
.no-pull, %no-pull {float: none !important;}
.ow-hidden, %ow-hidden {overflow: hidden;}
.clear-fix, %clear-fix {zoom: 1/* IE6 / IE7 */}
.clear-fix, %clear-fix {
  &:before, &:after {content: " "; height: 0; clear: both; display: table;}
}
.clear, %clear {clear: both;}

/**
 * -------------------------
 * @info Grid
 * -------------------------
*/
// Common wrapper
.common-wrapper {
	padding-left: ($column-gap * 3);

	// Types
	&.fluid {
		padding: 0 0 0 ($column-gap * 3);

		// Responsive rules
		@include breakpoint($xs){padding: 0;}
	}

	// Responsive rules
	@include breakpoint($sm-only) {padding: 0 ($column-gap * 2) 0 ($column-gap * 5);}	
	@include breakpoint($xs){padding: 0 ($column-gap * 2);}
}

// Container
.container {
	@extend %clear-fix; margin: 0 auto; padding: 0 ($column-gap / 2); position: relative;
	
	// Check if responsive support is enabled
	@if $responsive == false {
		width: $container-md;
	}	@else {

		// Set width depending on screen size
		@include breakpoint($xs) {
			// width: $container-xs; // Mobile
		}		
		@include breakpoint($sm) {
			width: $container-sm; // Tablet
		}
		@include breakpoint($md) {
			width: $container-md;  // Desktop
		}
		@include breakpoint($lg) {
			width: $container-lg; // Large desktop
		}      
  }	
}

// Grid row
.row {
	@extend %clear-fix; margin-left: -($column-gap / 2); margin-right: -($column-gap / 2);
	&:last-child > div {@include remove-child-margin-bottom();}
	> div {
		float: left; padding-left: ($column-gap / 2); padding-right: ($column-gap / 2); position: relative; min-height: 1px;
		
		// Make them show entirely
		@include breakpoint($xs) {width: 100%;}
	}
}

// Make grid columns
@include make-grid();