//
// _modals.scss
//
// It reflects modals styles for entire project
//

/**
 * -------------------------
 * @section Lightbox
 * -------------------------
*/
.lb-wrapper {
	width: $screen-lg - 20px;
	p {
		margin-bottom: 20px;
		&:last-child {margin-bottom: 0;}
	}

	// Lightbox info
	.lb-info {padding: 35px;}

	// Lightbox header
	.lb-header {
		.section-intro {
			margin-bottom: 20px;
			img, .title {@extend %shown;}
		}

	}
}