 //
// _navs.scss
//
// It reflects the styles for the navigations
//

/**
 * -------------------------
 * @info Tabs
 * -------------------------
*/
.tabs-wrapper {
  	.tabs-content .tab-pane {display: none;}
  	.active {cursor: pointer;}
}

/**
 * -------------------------
 * @info Tabs navigation
 * -------------------------
*/
.tabs-nav, .tabs-content {

	// Responsive rules
	@include breakpoint($xs){display: none;}
}
.tabs-nav {position: relative; z-index: 100; font-size: 0;}

/**
 * -------------------------
 * @info Tab
 * -------------------------
*/
.tab {
	@include in-block; width: 100%; margin-bottom: -1px; border: 1px solid transparent; border-bottom: 0px solid $tab-common-border; border-top: none; text-decoration: none; 
	span {display: block; padding: 10px 25px; overflow: hidden; border-top: 4px solid $tab-top-border; font-size: $font-size-base + 2; white-space: nowrap; text-overflow: ellipsis; text-align: center;}

	// States
	&:hover {
		color: $tab-hover-color;
		span {background: $tab-hover-bg; border-top-color: $tab-hover-top-border;}
	}
	&.active {
		border-color: $tab-active-border; border-bottom-color: $tab-active-bottom-border; color: $tab-active-color;
		span {background: $tab-active-bg; border-top-color: $tab-active-top-border;}
	}

	// Responsive rules
	@include breakpoint((min: $breakpoint-sm, max: $breakpoint-lg - 1)){
		span {padding-left: 10px; padding-right: 10px; font-size: $font-size-base;}
	}
	@include breakpoint($xs){
		span {padding-left: 8%; padding-right: 8%; font-size: $font-size-base - 2;}
	}
}

/**
 * -------------------------
 * @info Tabs pane
 * -------------------------
*/
.tab-pane {
	padding: ($desired-space-height + 15) 0; border-top: 1px solid $tabs-content-border;

	// Tabs nav
	.tabs-nav {

		// Responsive rules
		@include breakpoint($xs){display: block;}
	}

	// Responsive rules
	@include breakpoint((min: $breakpoint-sm, max: $breakpoint-lg - 1)){padding: ($desired-space-height + 10) 0;}
	@include breakpoint($xs){padding: ($desired-space-height + 5) 0;}
}

/**
 * -------------------------
 * @info Responsive tabs
 * -------------------------
*/
.responsive-tabs {
	display: none; font-size: 0;
	> ul, > ul > li {@include remove-list-style;}
	> ul {border-bottom: 2px solid $rs-tab-border;}

	// Tab
	.tab {
		display: block; margin: 0;
		span {background: url("../img/icons/right-arrow-tab.png") no-repeat 96% center $rs-tab-bg; @include image-2x("../img/icons/right-arrow-tab2x.png", 6px, 12px); border-top: 2px solid $rs-tab-border;}

		// States
		&.active {
			color: $tab-hover-color;
			span {background: url("../img/icons/bottom-arrow-tab.png") no-repeat 96% center #F6F6F6; @include image-2x("../img/icons/bottom-arrow-tab2x.png", 12px, 5px);}
			+ .info {display: block;}
		}		
	}

	// Info
	.info {display: none; padding: ($desired-space-height - 10) 0 $desired-space-height 0; font-size: $font-size-base;}

	// Responsive rules
	@include breakpoint($xs){display: block;}
}