//
// _pagination.scss
//
// It reflects the styles for the paginations
//

/**
 * -------------------------
 * @info Pagination
 * -------------------------
*/
.pagination {
  margin-bottom: ($desired-space-height * 2) - 5; font-size: 0; font-weight: 400; text-align: center;
  .container > ul {
    @include in-block(); margin: 0; padding-left: 0; @include rounded(2px);
  
    // List
    > li {
      @include in-block(); margin: 0 5px 6px 5px; font-size: $font-size-base - 2;
      > a, > span {position: relative; margin-left: -1px; padding: 6px 12px; float: left; background-color: $pagination-bg; border: 1px solid $pagination-border; line-height: $line-height-base; text-decoration: none; color: $pagination-link-color;}
      &:first-child {
        > a, > span {margin-left: 0; @include rounded(2px 0 0 2px);}
      }
      &:last-child {
        > a, > span {@include rounded(0 2px 2px 0)}
      }
    }
  
    // Hover / Focus
    > li > a, > li > span {
      &:hover, &:focus {background: $pagination-link-hover-bg;}
    }
  
    // Active
    > .active > a, > .active > span {
      &, &:hover, &:focus {z-index: 2; color: $pagination-link-active-color; background-color: $pagination-link-active-bg; border-color: $pagination-link-active-border; cursor: default;}
    }
  
    // Disabled
    > .disabled {
      > span, > span:hover, > span:focus, > a, > a:hover, > a:focus {background-color: $pagination-link-disabled-bg; color: $pagination-link-disabled-color; border-color: $pagination-link-disabled-border; cursor: not-allowed;}
    }

    // More
    > .more {
      > span, > span:hover, > span:focus {background-color: $pagination-link-more-bg;}
    }

    // Control
    .control {
      > a, > span {
        padding: 4px 11px; background-color: $pagination-control-bg; border-color: $pagination-control-border; color: $pagination-control-color;
        i {font-size: $font-size-base + 6;}

        // States
        &:hover, &:focus {background-color: lighten($pagination-control-bg, 10%); border-color: lighten($pagination-control-border, 10%);}
      }

      &.disabled {
        > span, > span:hover, > span:focus, > a, > a:hover, > a:focus {background-color: lighten($pagination-control-bg, 60%); border-color: lighten($pagination-control-border, 60%); color: $pagination-control-color; cursor: not-allowed;}
      }
    }
  }
}