//
// _scaffolding.scss
//
// It reflects the styles for general elements
//

/**
 * -------------------------
 * @section Generals
 * @info    This properties are for entire front-end and we could use whenever
 * -------------------------
*/
// Generals
* {@include box-sizing(border-box);}
html, body {-webkit-text-size-adjust: none;}
body {
	min-width: $breakpoint-xs; background: $body-bg; font-family: $font-family-base; font-size: $font-size-base; line-height: $line-height-base; font-weight: 300; color: $main-color;

	// If responsive is disabled
	@if $responsive == false {
		min-width: $container-md;
	}

	// Responsive rules
	@include breakpoint($xs){font-size: $font-size-base - 2;}
}

/**
 * -------------------------
 * @info Misc
 * -------------------------
*/
img {
	-ms-interpolation-mode: bicubic; border: none;

	// Grayscale
	// See: http://demosthenes.info/blog/532/Convert-Images-To-Black-And-White-With-CSS
	//      http://demosthenes.info/blog/540/Animating-CSS3-Image-Filters
	&.desaturate {-webkit-filter: grayscale(100%); filter: grayscale(100%); filter: url(#greyscale); filter: gray; @include transition(all .35s);}
}
.preloader {padding: 10px 0;}

/**
 * -------------------------
 * @section Dropdown
 * -------------------------
*/
.dropdown-menu {
  > .link {-webkit-touch-callout: none; @include user-select(none); cursor: pointer;}
  > .content {position: absolute; display: none; z-index: 200;}
}

/**
 * -------------------------
 * @section Site loader
 * -------------------------
*/
$site-loader: false;
@if $site-loader == true {

	// Set loader properties
	#loader {
	   display: block; position: fixed; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; z-index: 10000; background: $body-bg;
 
		.loading-wrapper {
 			position: absolute; width: 120px; height: 120px; top: 50%; left: 50%; @include transform((translateX(-50%) translateY(-50%)));
			
			// Spinner
			.spinner {position: relative; width: 100%; height: 100%; border-radius: 100%; border: 4px solid; border-color: transparent $red transparent $alizarin; @include transform-origin(50% 50%); @include animation(rotateLoader, 1.5s, 0s, linear, true);}

			// Progress
	 		.progress {position: absolute; width: 100%; top: 0; margin-top: 45px; font-size: $font-size-base; color: $white; text-align: center;}
	 	}
	}
}

/**
 * -------------------------
 * @info Side menu
 * -------------------------
*/
$side-menu: false;
@if $side-menu == true {

	 // Close side menu	
	.close-side-menu {
		position: fixed; top: 0; left: 0; width: 100%; height: 150%; overflow: hidden; z-index: 0; opacity: 0; background: rgba($black, .2); text-indent: -9999em; @include transition(opacity .35s); @include user-select(none);

		// States
		&.showing {opacity: 1; z-index: 200; cursor: pointer;}
		&.closing {opacity: 0;}
		body.side-showing & {z-index: 500;} 			
	}

	// @info Side menu	
	#side-menu {
		display: none;

		// Menu options
		.menu-opts {
			position: fixed; top: 0; left: 0; bottom: 0; width: 60px; height: 100%; z-index: 1000; @include transition(background .35s);

			// States
			body.side-showing & {background: $mine-shaft; border-color: $mine-shaft;}
		}

		// Base menu
		.base-menu {display: none;}

		// Side menu
		#jPanelMenu-menu {
			position: fixed; display: block; top: 0; left: 0px; width: 0; height: 100%; z-index: 2100; overflow: hidden; opacity: 1; background: $fb-color; @include transition(all .35s);
			.menu-wrapper {overflow-y: auto; overflow-x: hidden; height: 100%;}
			a {
				opacity: 1;
				
				// States
				html.no-csstransitions &, &.active {opacity: 1;}
			}

			// Menu
			.menu {
				width: 210px; text-transform: uppercase; padding: 50px 35px 55px 35px;
				ul, li {@include remove-list-style();}
				li {margin: 25px 0;}
				a {
					position: relative; display: block; left: -50px; font-size: $font-size-base - 6; color: $mine-shaft; @include transition(all .25s);

					// States
					html.no-csstransitions &, &.active {left: 0;}
					&.current {color: $red;}
				}

				// Responsive
				@include breakpoint($xs){width: 260px; padding: 35px 35px 5px 35px;}
			}

			// States
			body.side-showing & {
				width: 210px; opacity: 1;

				// Responsive rules
				@include breakpoint($xs){width: 210px;}
			}
		}

		// Responsive rules
		@include breakpoint((min: $breakpoint-xs, max: 959px)){display: block;}
	}
}