//
// _variables.scss
//
// It reflects all variables used in entire site
//

//
// -------------------------
// @section Colors
// @info    All about colors
// -------------------------
//
// Common
$black:				#000 !default;
$white:				#FFF !default;
$red:					#F00 !default;
$green:				#090 !default;
$orange:			#EF7D00 !default;

// Secondary
$mine-shaft:			#3F3D3D !default;
$dove-gray:				#626262 !default;
$dusty-gray:			#999 !default;
$silver:					#CCC !default;
$boulder:					#777 !default;

// Social
$fb-color:			#3B5998 !default;
$tw-color:			#00ACED !default;
$ig-color:			#517FA4 !default;
$ln-color:			#007BB6 !default;

// Project colors
$martinique:			#2C2A4C !default; // Blue - Links color
$downy:						#6BD3CA !default; // Green - Ex: Links hover
$plus:						#619F35 !default;
$enzima:					#E14357 !default;
$sport:						#F6CF2F !default;
$lecitina:				#EB2586 !default;
$shiitake:  			#45BCD0 !default;
$chlorella:				#83C700 !default;
$main-color:			$boulder !default;

// Scafolding
$body-bg:							$white !default;
$common-color:				#6C6C6C !default;
$lead-color:					$white !default;
$common-border:				$boulder !default;

// Gradients
$top-linear-common-bg:					#F7B000 !default;
$bottom-linear-common-bg:				#F49600 !default;

// Triangle
$triangle-common-bg:			$black !default;

// Headings
$headings-color:			$martinique !default;

// Links
$link-color:						$main-color !default;
$link-hover-color:			lighten($link-color, 15%) !default;
$link-lead-color:				$link-color !default;

// Header
$header-bg:				$white !default;

// Menu
$menu-link-color:										$main-color !default;
$menu-link-border-color:						#004273 !default;
$menu-link-bg-hover-color:					lighten($main-color, 5%) !default;
$menu-link-hover-color:							$menu-link-color !default;
$menu-link-active-color:						$main-color !default;
$menu-link-active-bg-color:					$white !default;
$menu-link-highlight-bg-color:			$black !default;

// Footer
$footer-bg:								$white !default;

// Menu
$menu-link-color:							$white !default;
$menu-link-hover-color:				$menu-link-color !default;

// Tables
$table-head-bg:									$white !default;
$table-head-border-color:				$boulder !default;
$table-color:										$main-color !default;
$table-border-color:						#DEDEDE !default;
$table-bg:											$white !default;
$table-bg-hover:								#F5F5F5 !default;
$table-bg-active:								$table-bg-hover !default;
$table-bg-zebra:								#F9F9F9 !default;

// Forms
// Fieldset
$fieldset-border:				$common-border !default;
$legend-color:					$dove-gray !default;

// Label
$label-color:				$main-color !default;

// Form control
$form-control-bg:											$white !default;
$form-control-border:									$common-border !default;
$form-control-color:									$boulder !default;
$form-control-icon:										$dusty-gray !default;
$form-control-placeholder-color:			lighten($form-control-color, 25%) !default;
$form-control-shadow-color:						$downy !default;
$form-control-border-focus:						$downy !default;
$form-control-disabled-color:					#F6F6F6 !default;
$form-control-icon-bg:								$white !default;

// Form control status
$form-error-color:								lighten($red, 20%) !default;
$form-control-error-color:				$red !default;
$form-control-error-border:				$red !default;
$form-control-success-color:			$green !default;

// Select
$select-bg:										$white !default;
$select-color:								#B2B0B0 !default;
$select-disabled-color:				$dove-gray !default;
$select-down-arrow-bg:				$white !default;

// Tabs
$tab-common-border:							#F6F6F6 !default;
$tab-top-border:								$white !default;
$tab-hover-bg:									$white !default;
$tab-hover-color:								$main-color !default;
$tab-hover-top-border:					$downy !default;
$tab-active-bg:									#F6F6F6 !default;
$tab-active-color:							$main-color !default;
$tab-active-border:							#F6F6F6 !default;
$tab-active-top-border:					$downy !default;
$tab-active-bottom-border:			#F6F6F6 !default;
$rs-tab-border:									$main-color !default;
$rs-tab-bg:											$white !default;
$rs-tab-active-bg:							#F6F6F6 !default;
$tabs-content-border:						$tab-common-border !default;

// Buttons
// Menu button
$btn-menu-bg:				$white;

// Common
$btn-active-shadow-color:				$black !default;

// Default
$btn-default: (
	color:								$white,
	bg:										$martinique,
	border:								$martinique,
	hover-color:					$white,
	hover-bg:							$mine-shaft,
	hover-border:					$mine-shaft,
	active-color:					$white,
	active-bg:						darken($mine-shaft, 3%),
	active-border:				darken($mine-shaft, 3%),
	disabled-color:				$white,
	disabled-bg:					#E4E4E4,
	disabled-border:			#E4E4E4
) !default;

// Primary
$btn-primary: (
	color:								$white,
	bg:										$downy,
	border:								$downy,
	hover-color:					$white,
	hover-bg:							darken($downy, 20%),
	hover-border:					darken($downy, 20%),
	active-color:					$white,
	active-bg:						darken($downy, 25%),
	active-border:				darken($downy, 25%),
	disabled-color:				$white,
	disabled-bg:					#DEF7F4,
	disabled-border:			#DEF7F4
) !default;

// Secondary
$btn-secondary: (
	color:								$white,
	bg:										$martinique,
	border:								$downy,
	hover-color:					$white,
	hover-bg:							$mine-shaft,
	hover-border:					$downy,
	active-color:					$white,
	active-bg:						darken($mine-shaft, 3%),
	active-border:				$downy,
	disabled-color:				$white,
	disabled-bg:					#E4E4E4,
	disabled-border:			#DDF7F4
) !default;

// Blockquote
$blockquote-bg:						none !default;
$blockquote-color:				$white !default;
$blockquote-border:				$black !default;

// Breadcrumbs
$breadcrumb-bg:									$white !default;
$breadcrumb-color:							$downy !default;
$breadcrumb-active-color:				$main-color !default;

// Alerts
// Error
$alert-error-bg:										$white !default;
$alert-error-color:									$main-color !default;
$alert-error-border:								#D70000 !default;
$alert-error-highlight-color:				#D70000 !default;

// Success
$alert-success-bg:										$white !default;
$alert-success-color:									$main-color !default;
$alert-success-border:								$downy !default;
$alert-success-highlight-color:				$downy !default;

// Pagination
$pagination-bg:													#F9F9F9 !default;
$pagination-border:											#DEDEDE !default;
$pagination-link-color:									$mine-shaft !default;
$pagination-link-hover-bg:							#EEE !default;
$pagination-link-hover-color:						$white !default;
$pagination-link-active-bg:							$white !default;
$pagination-link-active-border:					$pagination-link-active-bg !default;
$pagination-link-active-color:					$white !default;
$pagination-link-disabled-color:				#BBB !default;
$pagination-link-disabled-border:				#DFDFDF !default;
$pagination-link-disabled-bg:						$white !default;
$pagination-link-more-bg:								$white !default;
$pagination-control-bg:									$mine-shaft !default;
$pagination-control-border:							$mine-shaft !default;
$pagination-control-color:							$white !default;

// Datepicker
$datepicker-wrapper-bg:											$white !default;
$datepicker-header-bg:											$black !default;
$datepicker-disabled-day-color:							$main-color !default;
$datepicker-days-header-bg:									#DDD !default;
$datepicker-border:													$common-border !default;
$datepicker-day-hover-bg:										$main-color !default;
$datepicker-day-hover-border:								$main-color !default;
$datepicker-day-hover-color:								$main-color !default;
$datepicker-day-highlight-bg:								#DDD !default;
$datepicker-day-highlight-border:						$datepicker-day-highlight-bg !default;
$datepicker-day-highlight-color:						$datepicker-day-highlight-bg !default;
$datepicker-day-hover-highlight-border:			$datepicker-day-highlight-bg !default;
$datepicker-day-hover-highlight-color:			$main-color !default;
$datepicker-day-active-bg:									$main-color !default;
$datepicker-day-active-border:							$datepicker-day-active-bg !default;
$datepicker-day-active-color:								$white !default;

//
// -------------------------
// @section Typography
// @info    All about typography
// -------------------------
//
// Scafolding
$font-family-websafe:					"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !default;
$font-family-base:						"GandhiSans Regular", sans-serif !default;
$font-family-secondary:				"Oswald", sans-serif !default;
$font-family-additional:			$font-family-websafe !default;
$font-family-callback:				$font-family-websafe !default;
$font-size-base:							20px !default;
$font-size-small:							ceil(($font-size-base * 0.875)) !default; // 14px
$desired-space-height:				30px !default;
$line-height-base:						(28px / $font-size-base) !default;

// Headings
$headings-line-height:			1.2 !default;
$headings-font-family:			$font-family-secondary !default;	
$font-size-h1:							ceil(($font-size-base * 1.5)) !default;		// 30px
$font-size-h2:							ceil(($font-size-base * 1.4)) !default;		// 28px
$font-size-h3:							ceil(($font-size-base * 1.3)) !default;		// 26px
$font-size-h4:							ceil(($font-size-base * 1.2)) !default;		// 24px
$font-size-h5:							ceil(($font-size-base * 1)) !default;			// 22px
$font-size-h6:							ceil(($font-size-base)) !default;					// 20px

// Buttons
$btn-font-family:						$font-family-base !default;
$btn-large-font-size:				($font-size-base + 4) !default;
$btn-font-size:							$font-size-base !default;
$btn-small-font-size:				$font-size-small !default;
$btn-xsmall-font-size:			$font-size-small !default;

// Forms
$input-font-family:				$font-family-base !default;

//
// -------------------------
// @section Sizes
// @info    All about sizes
// -------------------------
//
// Grid
$num-columns:				12 !default;
$column-gap:				30px !default; // 30
// Deprecated when site is responsive
// $column-width:				80px !default;

// Screen sizes
$responsive:					true !default;
$breakpoint-xs:				320px !default; // Mobile
$breakpoint-sm:				768px !default; // Tablet
$breakpoint-md:				992px !default; // Desktop
$breakpoint-lg:				1200px !default; // Large desktop

// Responsive breakpoints
$xs:						(max: $breakpoint-sm - 1);
$sm:						(min: $breakpoint-sm);
$md:						(min: $breakpoint-md);
$lg:						(min: $breakpoint-lg);
$sm-only:				(min: map-get($sm, min), max: map-get($md, min) - 1);
$md-only:				(min: map-get($md, min), max: map-get($lg, min) - 1);

// Container sizes
$container-xs:			(290px + $column-gap) !default;
$container-sm:			(720px + $column-gap) !default;
$container-md:			(940px + $column-gap) !default;
$container-lg:			(1140px + $column-gap) !default;

// Header
$header-height:				100px !default;

// Menu
$menu-width:			240px !default;

// Tables
$table-cell-padding:								18px 15px !default;
$table-condensed-cell-padding:			8px 5px !default;

// Buttons
$btn-large-padding:				20px 30px !default;
$btn-padding:							13px 25px !default;
$btn-small-padding:				8px 15px !default;
$btn-xsmall-padding:			1px 20px !default;

// Top slider
$top-slider-width:				$container-md !default;
$top-slider-height:				540px !default;