//
// application.scss
//
// It reflects the styles for the front-end project
//

// Import SASS global settings
@import "config";

body {
	position: relative; left: 0; overflow-x: hidden; background: none; @include transition(left .35s);
	&.side-showing {left: 210px; overflow-x: hidden;}
}

/**
 * -------------------------
 * @info Header
 * -------------------------
*/
#header {
	position: fixed; width: 100%; top: 0; left: 0; z-index: 2000; background: $header-bg; border-bottom: 1px solid $downy; @include transition(background .35s);
	&, a {color: $main-color;}
	a {
		text-decoration: none;

		// States
		&:hover, &.current {color: $downy;}
	}
	ul, li {@include remove-list-style;}
	ul, .wrapper {font-size: 0;}
	li, , .top-opts, .menu, .user-opts, .cart {@include in-block; vertical-align: middle; font-size: $font-size-base - 4;}
	.container {
		position: static; height: 100px; @include transition(height .35s);

		// Responsive rules
		@include breakpoint($xs){height: 60px;}
	}	

	// Button menu wrapper
	.btn-menu-wrapper {
		position: absolute; height: 25px; z-index: 20; @include vertical-middle;
		.btn-menu {
			display: none; position: absolute; z-index: 3000;
			span {background-color: $downy;}

			// Responsive rules
			@include breakpoint((min: $breakpoint-xs, max: $breakpoint-lg - 1)){display: block;}
		}		

		// Responsive rules
    	@include breakpoint($xs){height: 18px;}
	}

	// Logo
	.logo {
		position: absolute; @include vertical-middle; width: 100%; text-align: center;
		&, a {height: 70px;}
		a {@include in-block; width: 148px; height: 70px; background: url("../img/logos/benessere-hd.png") no-repeat; background-size: 148px 70px; @include transition((width .35s, height .35s, background-size .35s));}

		// Responsive rules
		@include breakpoint($xs){
			&, a {height: 45px;}
			a {width: 95px; background-size: 95px 45px;}
		}
		@include breakpoint((min: $breakpoint-xs, max: $breakpoint-lg - 1)){left: 0;}
		@include breakpoint($lg){width: auto; text-align: left;}
	}

	// Options
	.opts {
		display: table; width: 100%;
		.wrapper {
			text-align: right;
			&, .top-opts {height: 100px; @include transition(height .35s);}
			&, .top-opts .items {display: table-cell; vertical-align: middle;}

			// Responsive rules
			@include breakpoint((max: $breakpoint-xs - 1)){
				.top-opts {display: none;}
			}
			@include breakpoint($xs){
				&, .top-opts {height: 60px;}
			}
			@include breakpoint((min: $breakpoint-xs, max: $breakpoint-lg - 1)){

				// Top options
				.top-opts {
					display: none; position: absolute; width: 100%; top: 100px; left: 0; overflow-y: auto; overflow-x: auto; -webkit-overflow-scrolling: touch; background: $white; text-align: center; @include transition(top .35s);
					.items {
						display: block; padding: 6px;
						.menu, .user-opts {
							li {
								display: block; border-top: 1px solid #E1E1E1;
		
								// Childs
								&:first-child {border-top: none;}
							}
							a {
								display: block; padding: 10px 0; color: $main-color; @include transition(background .15s);
		
								// States
								&:hover, &.current {color: $downy;}
							}
						}
					}

					// States
					&.active {display: block; border-top: 1px solid $downy;}

					// Responsive rules
					@include breakpoint($xs){top: 60px;}					
				}
			}
			@include breakpoint($lg){
				&, .top-opts, .top-opts .items {height: 100px !important; @include transition(height .35s);}
			}			
		}
	}

	// Menu
	.menu {
		@include in-block; vertical-align: middle; text-transform: uppercase;
		li {margin-left: 30px;}

		// Responsive rules
		@include breakpoint((min: $breakpoint-xs, max: $breakpoint-lg - 1)){
			display: block; border-bottom: 1px solid $silver;
			li {margin-left: 0;}
		}
	}

	// Submenu
	.submenu {
		display: none; position: absolute; width: 200px; left: 50%; margin-left: -100px; padding-top: 23px; text-align: center; text-transform: uppercase;		
		ul {position: relative; padding: 0 10px; border: 1px solid $downy; @include rounded(10px); background: $white;}
		li {
			display: block; border-top: 1px solid #E1E1E1;

			// Childs
			&:first-child {border-top: none;}
		}
		a {
			display: block; padding: 20px 0; color: $main-color; @include transition(background .15s);

			// States
			&:hover {color: $downy;}
		}

		// Content
		&:before {content: ""; display: block; position: absolute; width: 38px; height: 14px; top: 10px; left: 50%; z-index: 10; margin-left: -19px; background: url("../img/bg/submenu-top-arrow.png") no-repeat; background-size: 38px 14px;}

		// Responsive rules
		@include breakpoint((min: $breakpoint-xs, max: $breakpoint-lg - 1)){
			display: block; position: relative; width: 100%; left: 0; margin-left: 0; padding-top: 0;			
			ul {padding: 0; background: none; border: none;}

			// Content
			&:before {display: none;}
		}
	}

	// User options
	.user-opts {
		position: relative; margin-left: 35px; text-align: center;
		img {margin-bottom: 8px;}
		span {display: block; font-size: $font-size-base - 8; text-align: center; color: $downy; cursor: pointer;}
		> ul > li {

			// States
			&:hover {
				span {color: darken($downy, 15%);}
				.submenu {display: block;}
			}
		}

		// Responsive rules
		@include breakpoint((min: $breakpoint-xs, max: $breakpoint-lg - 1)){
			display: block; margin-left: 0; border-bottom: 1px solid $silver;
			img, span {display: none;}
		}
	}

	// Social links
	.social-links {
		display: none; padding: 15px 0 10px 0;
		ul, li {margin: 0 25px;}
		li {@include in-block; font-size: $font-size-base + 10;}
		a {
			color: $downy;

			// States
			&:hover {color: darken($downy, 15%);}
		}

		// Responsive rules
		@include breakpoint((min: $breakpoint-xs, max: $breakpoint-lg - 1)){display: block;}
		@include breakpoint($lg){display: none;}
	}	

	// Cart
	.cart {
		margin-left: 35px; text-align: center;
		a, span, .counter {display: block;}
		a {
			position: relative;

			// States
			&:hover span {color: darken($downy, 15%);}
		}
		img {margin-bottom: 8px;}
		span {font-size: $font-size-base - 8; color: $downy; cursor: pointer;}
		.counter {position: absolute; min-width: 25px; height: 25px; top: 2px; right: 5px; z-index: 20; background: $martinique; @include rounded(50%); color: $white; font-size: $font-size-base - 6; line-height: 25px; font-style: normal;}

		// Responsive rules
		@include breakpoint($xs){
			a {padding-right: 19px;}
			img {margin-bottom: 0;}
			span {display: none;}
		}
	}

	// States
	&.scrolled, html.touch & {

		// Logo
		.logo, {
			&, a {height: 45px;}
			a {width: 95px; background-size: 95px 45px;}
		}		

		// Options
		.container {
			&, .opts .wrapper {height: 60px !important;}
			.opts .wrapper .top-opts {top: 60px;}
		}

		// Submenu
		.submenu {
			padding-top: 18px;

			// Content
			&:before {top: 5px;}

			// Responsive rules
			@include breakpoint((min: $breakpoint-xs, max: $breakpoint-lg - 1)){
				padding-top: 0;

				// Content
				&:before {display: none;}
			}
		}
		
		// User options
		.user-opts, .cart {
			img {margin-bottom: 0;}
			span {display: none;}
		}

		// Cart
		.cart a {padding-right: 19px;}

		// Responsive rules
		@include breakpoint($lg){
			.opts .wrapper .top-opts {
				&, .items {height: 60px !important;}
			}
		}
	}

	// Responsive rules
	@media screen and (orientation: landscape) and (orientation: portrait) {width: 100%;}
}

//
// -------------------------
// @info Utilities
// -------------------------
//
@import "components";
@import "blocks";

//
// -------------------------
// @info Pages
// -------------------------
//
@import "home";
@import "products";
@import "cart";
@import "account";
@import "responsibility";
@import "contact";
@import "faqs";
@import "errors";

/**
 * -------------------------
 * @info Footer
 * -------------------------
*/
#footer {
	background: $footer-bg; font-size: $font-size-base - 6; text-transform: uppercase;	
	ul, li {@include remove-list-style;}
	a {text-decoration: none;}
	h3 {margin: 0; font-family: "GandhiSans Bold"; font-size: $font-size-base - 6;}

	// Top
	.top {
		padding: 40px 0; border-top: 1px solid $martinique; border-bottom: 1px solid $martinique;

		// Responsive rules
		@include breakpoint($xs){
			padding: 25px 0; text-align: center;
			.row > div > div {margin-bottom: $desired-space-height - 5;}
		}
		@include breakpoint($sm-only){
			.col-4, .col-3 {width: 33.3334%;}
			.col-2 {width: 100%;}
		}		
		@include breakpoint($md-only){
			.col-4, .col-2 {width: 25%;}
		}
	}

	// Logo
	.logo {
		a {
			display: block;
			img {width: 100%; max-width: 270px; height: auto;}
		}		

		// Responsive rules
		@include breakpoint($xs){
			a img {width: 135px;}
		}
		@include breakpoint($sm){
			a img {width: 85%;}	
		}
	}

	// Links
	.links {
		font-family: "GandhiSans Bold";
		ul {margin: -3px 0;}
		li {margin: 3px 0;}
	}

	// Contact
	.contact {
		text-transform: none;
		p {font-size: $font-size-base - 6;}

		// Responsive rules
		@include breakpoint($xs){
			h3 {display: none}
		}		
	}

	// Social links
	.social-links {
		text-align: center;
		h3 {margin-bottom: 10px;}
		ul, li {margin: 0 10px;}
		ul {font-size: 0;}
		li {@include in-block; font-size: $font-size-base + 10;}

		// Responsive rules
		@include breakpoint($xs){margin-bottom: 0 !important;}
		@include breakpoint($sm-only){margin-top: 40px;}
		@include breakpoint((min: $breakpoint-xs, max: $breakpoint-md - 1)){
			li {margin: 0 25px;}
		}
	}

	// Copyright
	.copyright {padding: 15px 0; text-align: center;}
}